@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    color: #f9fafb;
    background: #111827;
    background: radial-gradient(to bottom right, #0e224e, #111927);
    background: -moz-radial-gradient(top left, #0e224e, #111927);
    background: -webkit-radial-gradient(top left, #0e224e, #111927);
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;
}

#root {
}
